body {
    scroll-behavior: smooth;
    background: #000;
  }
.nav-title-vch{
    margin-left: 2em;
}

.navbar{
    position:absolute;
    width:100%;
    z-index:10;
    max-width:100%;
    /* background: transparent; */
}
.navbar-collapse .navbar-nav .nav-link {
    color: #fff;
  }